@use './m-colors' as *
  
%font-header
  font-family: 'lobster'
  font-style: normal
  font-weight: normal
  font-size: 14px
  line-height: 17px
  color: $font-header-color

%font-header-hover
  color: $font-header-hover-color

%font-main
  font-family: 'raleway'
  font-style: normal
  font-weight: 500
  font-size: 14px
  line-height: 16px
  color: $font-color

%font-main-total
  font-family: 'raleway'
  font-style: normal
  font-weight: 500
  font-size: 18px
  line-height: 21px
  color: $font-color

%font-input
  font-family: 'oswald'
  font-style: normal
  font-weight: 300
  font-size: 8px
  line-height: 12px
  color: $font-color

%font-output
  font-family: 'oswald'
  font-style: normal
  font-weight: 200
  font-size: 14px
  line-height: 21px
  color: $font-color

%font-output-total
  font-family: 'oswald'
  font-style: normal
  font-weight: 200
  font-size: 20px
  line-height: 30px
  color: $font-color
